.container {
    display: flex;
    height: 100vh; /* Makes the container full height of the viewport */
  }
  
  .homepageArea {
    flex: 2; /* Takes up half of the screen */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Centers content vertically */
    background-color:#17A2B8; /* Optional background color */
    color: #ffffff;
  }
  .circle{
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
    background-color: #317F8B;
    justify-content: center;
  }
  .circle img{
    height: 11rem;
    width: 10rem;
    margin-top: 30px;
    margin-left: 10px;
    
  }
  .formArea {
    flex: 1; /* Takes up half of the screen */
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Centers content vertically */
    padding: 20px;
    background-color: #ffffff; /* Optional background color */
  }
  .formArea p{
    margin-left: 6rem;
  }
  
  .formTitle {
    font-size: 30px;
    margin-bottom: 50px;
    text-align: center;
    margin-left: 8rem;
  }
  
  /* Style for input fields */
  .formFields {
    display: flex;
    flex-direction: column; /* Arrange input fields vertically */
    gap: 15px; /* This can also be used to set spacing between inputs */
    margin-left: 8rem;
}

.formFields input {
    width: 80%; /* Width of input fields */
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px; /* Space between fields */
}

  /* Style for Register button */
  .registerButton {
    background-color: #17A2B8;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 10px;
    width: 19rem; /* Full-width button */
    font-size: 16px;
    outline: none;
  }
  
  .loginButton {
    background-color: #17A2B8;
    color: white;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 10px;
    width: 19rem; /* Full-width button */
    font-size: 16px;
  }